@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.todo-wrapper {
    margin-top: 3rem;
    background-color: #BB86FC;
    border-radius: 2rem;
    position: absolute;
    right: 20rem;
    width: 50%;
    height: auto;

}

.todo-title {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: #fff;
    margin-bottom: 0;
    margin-left: 12rem;
    margin-top: 1rem;
    text-shadow: 2px 2px 8px #000;
}

